.mainInfo{
    margin-top: 100px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.cards{
    display: none; 
    margin-bottom: 500px; 
}

.intro{
    width: 80%;
    margin-top: 20px;
    display: block; 
}

body {
    background-color: #faf0da !important;
}

.nav-link{
    color: #faf0da !important; 
    margin-left: 40px;
    margin-right: 40px; 
}

.active{
    border-style: solid; 
}

#profilePicture{
    border-radius: 50%;
    width: 30%;
    margin-right: 40px;
}

#profileText{
    font-family: 'Courier New', monospace;
    text-align: center;
    color: #383c44;
}



#workContent{
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: #383c44;
}

#educationContent{
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: #383c44;
}

.arrow{
    margin-top: 50px; 
    width: 10%; 
}

#down-work-arrow-hover{
    display: none; 
}

#down-education-arrow-hover{
    display: none; 
}

#cap{
    width: 10%;
}

#work{
    width: 8%;
}

.cards{
    margin-top: 350px; 
    width: 80%;
}

#osisoft-image{
    width: 80%; 
    padding-top: 2em;
    padding-bottom: 2em; 
    padding-left: 3em; 
}

#nysci-image{
    width: 70%; 
    padding-top: 2em;
    padding-bottom: 2em; 
    padding-left: 4em; 
}

#meta-image{
    width: 65%;
    padding-top: 2em;
    padding-bottom: 2em; 
    padding-left: 4em; 
}

#cornell-image{
    width: 90%;
    padding-left: 4em; 
    padding-top: 4em;
    padding-bottom: 2em; 
}

#dyson-image{
    width: 90%;
    padding-left: 4em; 
    padding-top: 4em;
    padding-bottom: 2em; 
}

.card{
    color: #383c44;
    background-color: #fcf9eb !important;
}

.hide{
    opacity: 0; 
    transition: 1s opacity;
}






